In [235]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re
import geopandas as gpd
import random
from scipy.stats import truncnorm, norm
from collections import defaultdict
import math
from shapely.ops import transform
from pyproj import Geod
import pyarrow
from datetime import datetime
import sys
import importlib
from dataclasses import dataclass
import yaml
from typing import Union

In [4]:
# добавляем папку modules в sys.path, чтобы импортировать функции созданные ранее

# sys.path.append(os.path.abspath(os.path.join("..", "modules")))

In [501]:
# Функции генерации паттернов времени и базовые функции времени созданные ранее
import data_generator.fraud.time
import data_generator.fraud.txndata
import data_generator.configs
importlib.reload(data_generator.fraud.time)
importlib.reload(data_generator.fraud.txndata)
importlib.reload(data_generator.configs)
from data_generator.general_time import *
from data_generator.utils import build_transaction
from data_generator.fraud.txndata import FraudTxnPartData, TransAmount, sample_category
from data_generator.fraud.time import derive_from_last_time
from data_generator.configs import PurchBehaviorHandler

In [10]:
np.set_printoptions(suppress=True)
pd.set_option('display.max_columns', None)

In [7]:
os.getcwd()

'C:\\Users\\iaros\\My_documents\\Education\\projects\\fraud_detection_01\\notebooks'

In [8]:
os.chdir("..")

In [9]:
os.getcwd()

'C:\\Users\\iaros\\My_documents\\Education\\projects\\fraud_detection_01'

## Загрузка конфигураций

In [18]:
# Общие настройки
with open("./config/base.yaml") as f:
    base_cfg = yaml.safe_load(f)
# Настройки фрода
with open("./config/fraud.yaml") as f:
    fraud_cfg = yaml.safe_load(f)
# Настройки фрода для дропов
with open("./config/drops.yaml", encoding="utf8") as f:
    drops_cfg = yaml.safe_load(f)
# Настройки времени
with open("./config/time.yaml") as f:
    time_cfg = yaml.safe_load(f)

# Доп. данные для генерации фрод транзакций

**Загрузка данных:**
- оффлайн мерчантов
- онлайн мерчантов
- девайсов клиентов и мошенников
- городов с полигонами
- городов с координатами центров
- клиентов
- фрод IP адресов
- категорий и их характеристик
- категорий для дропов покупателей
- Счетов клиентов
- Внешних счетов

In [612]:
offline_merchants = gpd.read_file("./data/cleaned_data/offline_merchants_points.gpkg")
online_merchant_ids = pd.read_csv("./data/cleaned_data/online_merchant_ids.csv").iloc[:, 0] # нужны в виде серии
client_devices = pd.read_csv("./data/cleaned_data/client_devices.csv")
fraud_devices = pd.read_csv("./data/cleaned_data/fraud_devices.csv")
districts_ru = gpd.read_file("./data/cleaned_data/district_ru.gpkg")
area_centers = gpd.read_file("./data/cleaned_data/area_centers.gpkg")
clients_with_geo = gpd.read_file("./data/cleaned_data/clients_with_geo.gpkg") 
fraud_ips = gpd.read_file("./data/cleaned_data/fraud_ips.gpkg")
cat_stats_full = pd.read_csv("./data/cleaned_data/cat_stats_full.csv")
cat_fraud_amts = pd.read_csv("./data/cleaned_data/cat_fraud_amts.csv")
drop_purch_cats = pd.read_csv("./data/cleaned_data/drop_purch_cats.csv")
accounts = pd.read_csv("./data/generated_data/accounts.csv")
outer_accounts = pd.read_csv("./data/generated_data/outer_accounts.csv").iloc[:, 0] # нужны в виде серии

### Создание аргументов для `DropDistributorCfg`

In [16]:
# timestamp-ы использованные еще для генерации легальных и purchase фрод транзакций
timestamps = pd.read_parquet("./data/generated_data/timestamps.parquet", engine="pyarrow")

In [19]:
time_weight_args = time_cfg["time_weights_args"]

In [20]:
time_weights_dict = get_all_time_patterns(time_weight_args)

**Легальные транзакции**  
Нужно знать их количество для определения числа фрод транзакций  
и следовательно, количества клиентов для их генерации

In [21]:
legit_txns = pd.read_parquet("./data/generated_data/legit_trans_148K.parquet", engine="pyarrow")

**Клиенты для дроп фрода**  
Случайно возьмем клиентов, у которых нет никаких транзакций  
Для этого загрузим семплированных для легальных транзакций клиентов, т.е. у кого были созданы легальные транзакции.  
У части этих клиентов также созданы purchase фрод транзакции. Всех этих клиентов надо исключить.

In [22]:
clients_sample_df = gpd.read_file("./data/cleaned_data/clients_sample.gpkg")

In [23]:
clients_sample_df.shape

(3000, 12)

Конфиги загружаются временно тут

In [316]:
# Общие настройки
with open("./config/base.yaml") as f:
    base_cfg = yaml.safe_load(f)
# Настройки фрода
with open("./config/fraud.yaml") as f:
    fraud_cfg = yaml.safe_load(f)
# Настройки фрода для дропов
with open("./config/drops.yaml", encoding="utf8") as f:
    drops_cfg = yaml.safe_load(f)
# Настройки времени
with open("./config/time.yaml") as f:
    time_cfg = yaml.safe_load(f)

In [24]:
# доля дроп фрода - Дропы занимающиеся переводами и снятиями; и дропы, которые покупают товары на присланные деньги
fraud_rate = fraud_cfg["fraud_rates"]["total"]
drop_dist_share = drops_cfg["distributor"]["rate"] # Дропы распределители. Доля от всего фрода
drop_purch_share = drops_cfg["purchaser"]["rate"] # Дропы покупатели. Доля от всего фрода

In [25]:
# лимит на исходящие транзакции дропа. Нужен сейчас для вычисления количества дропов распределителей

dist_out_lim = drops_cfg["distributor"]["out_lim"]

In [33]:
# отсюда посчитаем количество клиентов для дроп фрода с распределением денег

legit_count = legit_txns.shape[0]
# подсчет количества транзакций равных 1% от всех транзакций
# т.к. не все транзакции еще созданные, то считаем основываясь на количестве легальных транзакций и fraud rate
one_perc = round(legit_count / ((1 - fraud_rate) * 100))
# Один процент транзакций умножаем на долю транзакций дропов-распределителей и делим на максимальное количество
# исходящих транзакций которое распределитель может сделать до детекта. Так находим сколько примерно дропов будет под такой фрод
dist_drops_count = round(one_perc * drop_dist_share / dist_out_lim) 
dist_drops_count

28

In [34]:
# Клиенты незадействованные ранее

not_used_clients = clients_with_geo.loc[~clients_with_geo.client_id.isin(clients_sample_df.client_id)].copy()

In [35]:
# семплируем dist_drops_count клиентов

dist_drop_clients = not_used_clients.sample(n=dist_drops_count).reset_index(drop=True)

In [36]:
dist_drop_clients.head(2)

,client_id,district_id,birth_date,sex,region,area,timezone,lat,lon,population,home_ip,geometry
0,52,32,1924-12-12,male,Курская,Курск,UTC+3,51.730339,36.192645,414595,2.60.0.50,"MULTIPOLYGON (((36.0603 51.67692, 36.06039 51...."
1,403,42,1973-05-26,female,Астраханская,Астрахань,UTC+4,46.365581,48.055998,520662,2.60.1.127,"MULTIPOLYGON (((47.87112 46.26966, 47.87127 46..."

In [37]:
dist_drop_clients.shape

(28, 12)

## Объект датакласса `DropDistributorCfg` конфиги для дропов распределителей

In [1015]:
# Импорт на время разработки
import data_generator.configs
importlib.reload(data_generator.configs)
from data_generator.configs import DropDistributorCfg

**Доп. конфиги из `drop.yaml`**

In [1016]:
# временно

# Общие настройки
with open("./config/base.yaml") as f:
    base_cfg = yaml.safe_load(f)
# Настройки фрода
with open("./config/fraud.yaml") as f:
    fraud_cfg = yaml.safe_load(f)
# Настройки фрода для дропов
with open("./config/drops.yaml", encoding="utf8") as f:
    drops_cfg = yaml.safe_load(f)
# Настройки времени
with open("./config/time.yaml") as f:
    time_cfg = yaml.safe_load(f)

In [1017]:
# Параметры обозначенные в config/drops.yaml

dist_cfg = drops_cfg["distributor"]
dist_in_lim = dist_cfg["in_lim"]
dist_out_im = dist_cfg["out_lim"]
period_in_lim = dist_cfg["period_in_lim"]
period_out_lim = dist_cfg["period_out_lim"]
dist_lag_int = drops_cfg["lag_interval"]
two_way_delta = drops_cfg["two_way_delta"]
pos_delta = drops_cfg["pos_delta"]
split_rate = dist_cfg["split_rate"]
chunks = dist_cfg["chunks"]
dist_inbound = drops_cfg["inbound_amt"]
dist_round = dist_cfg["round"]
dist_trf_max = dist_cfg["trf_max"]
dist_reduce = dist_cfg["reduce_share"]
dist_att = dist_cfg["attempts"]
to_drops = dist_cfg["to_drops"]
crypto_rate = dist_cfg["crypto_rate"]

In [1018]:
dist_configs = DropDistributorCfg(clients=dist_drop_clients, timestamps=timestamps, accounts=accounts, \
                                  outer_accounts=outer_accounts, client_devices=client_devices, atms=None, \
                                  online_merchant_ids=online_merchant_ids, cities=districts_ru, in_lim=dist_in_lim, 
                                  out_lim=dist_out_im, period_in_lim=period_in_lim, period_out_lim=period_out_lim, \
                                  lag_interval=dist_lag_int, two_way_delta=two_way_delta, pos_delta=pos_delta, \
                                  split_rate=split_rate, chunks=chunks, inbound_amt=dist_inbound, round=dist_round, \
                                  trf_max=dist_trf_max, reduce_share=dist_reduce, attempts=dist_att, to_drops=to_drops, \
                                  crypto_rate=crypto_rate
                                 )

## Класс `DropPurchaserCfg` конфиги для дропов покупателей

## Объект класса `DropTxnPartData` для распределителей
- генерация части данных транзакции

In [92]:
part_txn_data_dist = DropTxnPartData(configs=dist_configs)

## Класс `CreateDropTxn`

In [270]:
class CreateDistTxn:
    """
    Создание транзакций дропа распределителя под разное поведение.
    """
    def __init__(self, timestamps, trans_partial_data, drop_client_cls, in_txns=0, out_txns=0, in_lim=6, out_lim=8, last_txn={}, \
                attempts=0):
        """
        timestamps - pd.DataFrame.
        trans_partial_data - FraudTransPartialData. Генератор части данных транзакции - мерчант, гео, ip, девайс и т.п.
        drop_client_cls - DropClient. Генератор активности дропов: суммы, счета, баланс
        in_txns - int. Количество входящих транзакций
        out_txns - int. Количество исходящих транзакций
        in_lim - int. Лимит входящих транзакций. Транзакции клиента совершенные после достижения этого лимита отклоняются
        out_lim - int. Лимит исходящих транзакций. Транзакции клиента совершенные после достижения этого лимита отклоняются
        last_txn - dict. Полные данные последней транзакции
        attempts - int. Сколько попыток совершить операцию будет сделано дропом после первой отклоненной транзакции.
        """
        self.timestamps = timestamps
        self.trans_partial_data = trans_partial_data
        self.drop_client = drop_client_cls
        self.in_txns = in_txns
        self.out_txns = out_txns
        self.in_lim = in_lim
        self.out_lim = out_lim
        self.last_txn = last_txn
        self.attempts = attempts


    def cash_flow_action(self, online, declined, in_chunks, to_drop_share=0.2, receive=False): # <------------------------- KEEP, EDIT
        """
        Один входящий/исходящий перевод либо одно снятие в банкомате.
        ---------------------
        online - bool. Онлайн перевод или снятие в банкомате.
        declined - bool. Будет ли текущая транзакция отклонена.
        in_chunks - bool. Транзакция будет частью серии транзакций.
        to_drop_share - float. Вероятность, что дроп пошлет другому дропу
        receive - входящий перевод или нет.
        """
        client_id = self.trans_partial_data.client_info.client_id # берем из namedtuple
        
        # Время транзакции. Оно должно быть создано до увеличения счетчика self.in_txns
        txn_time, txn_unix = self.get_txn_time(in_lim=2, out_lim=5, lag_interval=1440)

        # перевод дропу
        if receive:
            self.in_txns += 1
            amount = self.drop_client.receive(declined=declined)
            account = self.drop_client.account
        # перевод от дропа    
        elif not receive and online:
            to_drop = np.random.choice([True, False], p=[to_drop_share, 1 - to_drop_share])
            self.out_txns += 1
            account = self.drop_client.get_account(to_drop=to_drop)
        # снятие дропом    
        elif not receive and not online:
            account = self.drop_client.account
            self.out_txns += 1
        
        # Генерация части данных транзакции. Здесь прописываются аргументы online и receive
        merchant_id, trans_lat, trans_lon, trans_ip, trans_city, device_id, channel, type = \
                                                self.trans_partial_data.original_transfer_or_atm(online=online, receive=receive)
        
        # Генерация суммы если исходящая транзакция
        # Если эта транзакция только часть серии операций для распределения всего баланса
        if in_chunks:
            chunk = self.drop_client.get_chunk_size(online=online, atm_min=10000, start=5000, stop=25000, step=5000)
            amount = self.drop_client.one_operation(declined=declined, in_chunks=in_chunks)
            
        # Иначе если не по частям и не входящая транзакция. not receive т.к. этот метод и для входящих транзакций
        # а у входящих транзакций своя генерация суммы
        elif not in_chunks and not receive:
            amount = self.drop_client.one_operation(declined=declined, in_chunks=in_chunks)

        if declined:
            status = "declined"
            is_fraud = True
            rule = "drop_flow_cashout"
        else:
            status = "approved"
            is_fraud = False
            rule = "not applicable"

        # Статичные характеристики
        is_suspicious = False
        category_name="not applicable"

        # Сборка всех данных в транзакцию и запись как послдней транзакции
        self.last_txn = build_transaction(client_id=client_id, txn_time=txn_time, txn_unix=txn_unix, amount=amount, type=type, channel=channel, \
                             category_name=category_name, online=online, merchant_id=merchant_id, trans_city=trans_city, \
                             trans_lat=trans_lat, trans_lon=trans_lon, trans_ip=trans_ip, device_id=device_id, account=account, \
                             is_fraud=is_fraud, is_suspicious=is_suspicious, status=status, rule=rule)

        return self.last_txn

    
    def limit_reached(self): # <------------------------- KEEP
        """
        Проверка достижения лимитов входящих и исходящих транзакций
        Сверка с self.in_lim и self.out_lim
        ------------------------
        Вернет True если какой либо лимит достигнут
        """
        if self.in_lim == self.in_txns:
            return True
        if self.out_lim == self.out_txns:
            return True
        return False

    def reset_cache(self, only_counters=True): # <------------------------- KEEP, EDIT
        """
        Сброос кэшированных данных
        -------------
        only_counters - bool
                        Если True будут сброшены: self.in_txns, self.out_txns, self.attempts.
                        Если False то также сбросится информация о последней транзакции self.last_txn
        """
        
        self.in_txns = 0
        self.out_txns = 0
        self.batch_txns = 0

        if only_counters:
            return

        self.last_txn = {}

### **`trf_or_atm`**

НЕ отклоненный входящий перевод  
`BehavHand.online=None, receive=True, declined=False, BehavHand.in_chunks=False`

In [569]:
acc_hand1.accounts.query("client_id == 11794")["account"]
acc_hand1.accounts.loc[acc_hand1.accounts.client_id == acc_hand1.client_id, "account_id"].iat[0]

      client_id  account_id  is_drop
5206      11794       15206    False

In [993]:
reset_caches(cr_drop_txn1, behav_hand1, amt_hand1, time_hand1, part_data1)

behav_hand1.online = None
behav_hand1.in_chunks = None
receive_txn = cr_drop_txn1.trf_or_atm(declined=False, to_drop=False, receive=True)

pd.DataFrame([receive_txn])

,client_id,txn_time,unix_time,amount,type,channel,category,online,merchant_id,trans_city,trans_lat,trans_lon,trans_ip,device_id,account,is_fraud,is_suspicious,status,rule
0,11794,2025-01-09 23:00:00,1736463600,42500.0,inbound,transfer,not applicable,True,NaN,not applicable,NaN,NaN,not applicable,NaN,15206,False,False,approved,not applicable

In [723]:
amt_hand1.balance, behav_hand1.batch_txns

(np.float64(36000.0), 0)

In [724]:
cr_drop_txn1.in_txns, cr_drop_txn1.out_txns

(1, 0)

НЕ отклоненный исходящий перевод целиком  
`BehavHand.online=True, receive=False, declined=False, BehavHand.in_chunks=False`

In [725]:
part_data1.client_info.area

'Томск'

In [994]:
behav_hand1.online = True
behav_hand1.in_chunks = False

whole_out = cr_drop_txn1.trf_or_atm(receive=False, to_drop=False, declined=False)
pd.concat([pd.DataFrame([receive_txn]), pd.DataFrame([whole_out])], ignore_index=True)

,client_id,txn_time,unix_time,amount,type,channel,category,online,merchant_id,trans_city,trans_lat,trans_lon,trans_ip,device_id,account,is_fraud,is_suspicious,status,rule
0,11794,2025-01-09 23:00:00,1736463600,42500.0,inbound,transfer,not applicable,True,NaN,not applicable,NaN,NaN,not applicable,NaN,15206,False,False,approved,not applicable
1,11794,2025-01-09 23:36:00,1736465760,42500.0,outbound,transfer,not applicable,True,NaN,Томск,56.484704,84.948174,2.60.20.87,9367.0,17770,False,False,approved,not applicable

НЕ отклоненное снятие целиком  
`BehavHand.online=False, receive=False, declined=False, BehavHand.in_chunks=False, BehavHand.scen = "atm"`

In [995]:
reset_caches(cr_drop_txn1, behav_hand1, amt_hand1, time_hand1, part_data1)

behav_hand1.scen = "atm"
behav_hand1.guide_scenario()
behav_hand1.in_chunks = False

receive_txn2 = cr_drop_txn1.trf_or_atm(declined=False, to_drop=False, receive=True)
whole_atm = cr_drop_txn1.trf_or_atm(declined=False, to_drop=False, receive=False)

pd.concat([pd.DataFrame([receive_txn2]), pd.DataFrame([whole_atm])], ignore_index=True)

,client_id,txn_time,unix_time,amount,type,channel,category,online,merchant_id,trans_city,trans_lat,trans_lon,trans_ip,device_id,account,is_fraud,is_suspicious,status,rule
0,11794,2025-01-10 12:37:00,1736512620,24700.0,inbound,transfer,not applicable,True,NaN,not applicable,NaN,NaN,not applicable,NaN,15206,False,False,approved,not applicable
1,11794,2025-01-10 15:02:00,1736521320,24700.0,withdrawal,ATM,not applicable,False,NaN,Томск,56.484704,84.948174,not applicable,NaN,15206,False,False,approved,not applicable

In [920]:
amt_hand1.balance, amt_hand1.batch_txns

(np.float64(0.0), 1)

НЕ отклоненный исходящий перевод частями  
`BehavHand.online=True, receive=False, declined=False, BehavHand.in_chunks=True, BehavHand.scen = "split_transfer"`

In [996]:
reset_caches(cr_drop_txn1, behav_hand1, amt_hand1, time_hand1, part_data1)

behav_hand1.scen = "split_transfer"
behav_hand1.in_chunks = True

receive_txn3 = cr_drop_txn1.trf_or_atm(declined=False, to_drop=False, receive=True)

all_txns3 = [receive_txn3]
while amt_hand1.balance > 0:
    behav_hand1.guide_scenario()
    part_out = cr_drop_txn1.trf_or_atm(declined=False, to_drop=False, receive=False)
    all_txns3.append(part_out)
pd.DataFrame(all_txns3)

,client_id,txn_time,unix_time,amount,type,channel,category,online,merchant_id,trans_city,trans_lat,trans_lon,trans_ip,device_id,account,is_fraud,is_suspicious,status,rule
0,11794,2025-01-03 15:51:00,1735919460,24600.0,inbound,transfer,not applicable,True,NaN,not applicable,NaN,NaN,not applicable,NaN,15206,False,False,approved,not applicable
1,11794,2025-01-03 18:22:00,1735928520,7000.0,outbound,transfer,not applicable,True,NaN,Томск,56.484704,84.948174,2.60.20.87,9367.0,20935,False,False,approved,not applicable
2,11794,2025-01-03 19:16:00,1735931760,10000.0,outbound,transfer,not applicable,True,NaN,Томск,56.484704,84.948174,2.60.20.87,9366.0,20245,False,False,approved,not applicable
3,11794,2025-01-03 20:46:00,1735937160,7000.0,outbound,transfer,not applicable,True,NaN,Томск,56.484704,84.948174,2.60.20.87,9367.0,16278,False,False,approved,not applicable
4,11794,2025-01-03 21:52:00,1735941120,600.0,outbound,transfer,not applicable,True,NaN,Томск,56.484704,84.948174,2.60.20.87,9366.0,20575,False,False,approved,not applicable

In [923]:
amt_hand1.balance, amt_hand1.batch_txns

(np.float64(0.0), 3)

In [763]:
amt_hand1.balance, amt_hand1.batch_txns

(np.float64(0.0), 5)

Отклоненный входящий перевод  
`BehavHand.online=None, receive=True, declined=True, BehavHand.in_chunks=False`

In [764]:
reset_caches(cr_drop_txn1, behav_hand1, amt_hand1, time_hand1)

behav_hand1.online = None
behav_hand1.in_chunks = None
receive_txn5 = cr_drop_txn1.trf_or_atm(declined=True, to_drop=False, receive=True)

pd.DataFrame([receive_txn5])

,client_id,txn_time,unix_time,amount,type,channel,category,online,merchant_id,trans_city,trans_lat,trans_lon,trans_ip,device_id,account,is_fraud,is_suspicious,status,rule
0,11794,2025-01-05 11:52:00,1736077920,40000.0,inbound,transfer,not applicable,True,NaN,not applicable,NaN,NaN,not applicable,NaN,15206,True,False,declined,drop_flow_cashout

In [766]:
amt_hand1.balance, amt_hand1.batch_txns

(0, 0)

In [1002]:
amt_hand1.balance, amt_hand1.batch_txns, amt_hand1.declined_txns

(np.float64(55500.0), 4, 4)

**Отклоненный  исходящий перевод частями**  
`BehavHand.online=True, receive=False, declined=True, BehavHand.in_chunks=True`

In [1007]:
reset_caches(cr_drop_txn1, behav_hand1, amt_hand1, time_hand1, part_data1)

behav_hand1.scen = "split_transfer"
behav_hand1.in_chunks = True

receive_txn8 = cr_drop_txn1.trf_or_atm(declined=False, to_drop=False, receive=True)
all_txns8 = [receive_txn8]
i = 0
while amt_hand1.balance > 0:
    behav_hand1.guide_scenario()
    part_out8 = cr_drop_txn1.trf_or_atm(declined=True, to_drop=False, receive=False)
    all_txns8.append(part_out8)
    i += 1
    if i > 4:
        break
        
pd.DataFrame(all_txns8)

,client_id,txn_time,unix_time,amount,type,channel,category,online,merchant_id,trans_city,trans_lat,trans_lon,trans_ip,device_id,account,is_fraud,is_suspicious,status,rule
0,11794,2025-01-22 23:58:00,1737590280,25300.0,inbound,transfer,not applicable,True,NaN,not applicable,NaN,NaN,not applicable,NaN,15206,False,False,approved,not applicable
1,11794,2025-01-23 02:01:00,1737597660,13000.0,outbound,transfer,not applicable,True,NaN,Томск,56.484704,84.948174,2.60.20.87,9366.0,15830,True,False,declined,drop_flow_cashout
2,11794,2025-01-23 04:03:00,1737604980,9800.0,outbound,transfer,not applicable,True,NaN,Томск,56.484704,84.948174,2.60.20.87,9367.0,17257,True,False,declined,drop_flow_cashout
3,11794,2025-01-23 06:54:00,1737615240,6600.0,outbound,transfer,not applicable,True,NaN,Томск,56.484704,84.948174,2.60.20.87,9367.0,15744,True,False,declined,drop_flow_cashout
4,11794,2025-01-23 07:25:00,1737617100,3400.0,outbound,transfer,not applicable,True,NaN,Томск,56.484704,84.948174,2.60.20.87,9366.0,17677,True,False,declined,drop_flow_cashout
5,11794,2025-01-23 09:44:00,1737625440,3000.0,outbound,transfer,not applicable,True,NaN,Томск,56.484704,84.948174,2.60.20.87,9366.0,22265,True,False,declined,drop_flow_cashout

**Отклоненный перевод другому дропу**  
Дропов >= AccHand.min_drops

## **Тест `CreateTxn.purchase`**

### **`dist=True` дроп распределитель**

**НЕ отклоненная покупка крипты целиком**  
`BehavHand.online=True, receive=False, declined=False, BehavHand.in_chunks=False`

In [838]:
reset_caches(cr_drop_txn1, behav_hand1, amt_hand1, time_hand1)
acc_hand1.reset_cache()

behav_hand1.scen = "transfer"
behav_hand1.in_chunks_val()

receive_txn17 = cr_drop_txn1.trf_or_atm(declined=False, to_drop=False, receive=True)
all_txns17 = [receive_txn17]

behav_hand1.guide_scenario()
whole_out17 = cr_drop_txn1.purchase(declined=False, dist=True)
all_txns17.append(whole_out17)
all_df17 = pd.DataFrame(all_txns17)
all_df17

,client_id,txn_time,unix_time,amount,type,channel,category,online,merchant_id,trans_city,trans_lat,trans_lon,trans_ip,device_id,account,is_fraud,is_suspicious,status,rule
0,11794,2025-01-28 08:04:00,1738051440,36000.0,inbound,transfer,not applicable,True,NaN,not applicable,NaN,NaN,not applicable,NaN,15206.0,False,False,approved,not applicable
1,11794,2025-01-28 10:31:00,1738060260,36000.0,purchase,crypto_exchange,balance_top_up,True,6850.0,Томск,56.484704,84.948174,2.60.20.87,9366.0,NaN,False,False,approved,not applicable

### **`dist=False` дроп покупатель**

**НЕ отклоненная покупка целиком**  
`BehavHand.online=True, declined=False, BehavHand.in_chunks=False`

In [900]:
reset_caches(cr_drop_txn1, behav_hand1, amt_hand1, time_hand1, part_data1)

all_txns21 = []

receive_txn21 = cr_drop_txn1.trf_or_atm(declined=False, to_drop=False, receive=True)
all_txns21.append(receive_txn21)

behav_hand1.online = True
behav_hand1.in_chunks = False

while amt_hand1.balance > 0:
    behav_hand1.guide_scenario()
    part_out21 = cr_drop_txn1.purchase(declined=False, dist=False)
    all_txns21.append(part_out21)
    
all_df21 = pd.DataFrame(all_txns21)
all_df21

,client_id,txn_time,unix_time,amount,type,channel,category,online,merchant_id,trans_city,trans_lat,trans_lon,trans_ip,device_id,account,is_fraud,is_suspicious,status,rule
0,11794,2025-01-11 17:34:00,1736616840,38600.0,inbound,transfer,not applicable,True,NaN,not applicable,NaN,NaN,not applicable,NaN,15206.0,False,False,approved,not applicable
1,11794,2025-01-11 18:50:00,1736621400,38600.0,purchase,ecom,shopping_net,True,6971.0,Томск,56.484704,84.948174,2.60.20.87,9367.0,NaN,False,False,approved,not applicable

**НЕ отклоненная покупка частями**  
`BehavHand.online=True, declined=False, BehavHand.in_chunks=True, BehavHand.scen = "split_transfer"`

In [901]:
reset_caches(cr_drop_txn1, behav_hand1, amt_hand1, time_hand1, part_data1)

all_txns22 = []

receive_txn22 = cr_drop_txn1.trf_or_atm(declined=False, to_drop=False, receive=True)
all_txns22.append(receive_txn22)

behav_hand1.online = True
behav_hand1.in_chunks = True

while amt_hand1.balance > 0:
    behav_hand1.guide_scenario()
    part_out22 = cr_drop_txn1.purchase(declined=False, dist=False)
    all_txns22.append(part_out22)
    
all_df22 = pd.DataFrame(all_txns22)
all_df22

,client_id,txn_time,unix_time,amount,type,channel,category,online,merchant_id,trans_city,trans_lat,trans_lon,trans_ip,device_id,account,is_fraud,is_suspicious,status,rule
0,11794,2025-01-10 03:25:00,1736479500,38600.0,inbound,transfer,not applicable,True,NaN,not applicable,NaN,NaN,not applicable,NaN,15206.0,False,False,approved,not applicable
1,11794,2025-01-10 05:32:00,1736487120,25000.0,purchase,ecom,misc_net,True,6791.0,Томск,56.484704,84.948174,2.60.20.87,9367.0,NaN,False,False,approved,not applicable
2,11794,2025-01-10 06:27:00,1736490420,8000.0,purchase,ecom,misc_net,True,6960.0,Томск,56.484704,84.948174,2.60.20.87,9366.0,NaN,False,False,approved,not applicable
3,11794,2025-01-10 07:06:00,1736492760,5600.0,purchase,ecom,shopping_net,True,6908.0,Томск,56.484704,84.948174,2.60.20.87,9366.0,NaN,False,False,approved,not applicable

**Конец теста `CreateDropTxn`**