In [107]:
import pandas as pd
import numpy as np
import os
import re

In [242]:
pd.options.display.float_format = '{:.0f}'.format

In [4]:
os.getcwd()

'C:\\Users\\iaros\\My_documents\\Education\\projects\\fraud_detection_01'

In [3]:
os.chdir("..")

In [5]:
accounts = pd.read_csv("./data/cleaned_data/account_df_clean.csv")
clients = pd.read_csv("./data/cleaned_data/client_df_clean.csv")
disp = pd.read_csv("./data/cleaned_data/disposition_df_clean.csv")
card = pd.read_csv("./data/cleaned_data/card_df_clean.csv")
district = pd.read_csv("./data/cleaned_data/district_df_clean.csv")
loan = pd.read_csv("./data/cleaned_data/loan_df_clean.csv")

In [11]:
trans = pd.read_csv("./data/cleaned_data/transaction_df_clean.csv", dtype={8:"str"})

In [22]:
district.head(1)

,district_code,district_name,region,population,no_of_mun_below_500,no_of_mun_between_500_1999,no_of_mun_between_2000_9999,no_of_mun_above_10000,no_of_cities,ratio_of_urban_population,avg_salary,unemployment_rate_95,unemployment_rate_96,enterpreneurs_per_1000,crimes_num_95,crimes_num_96
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677.0,99107

In [236]:
district_short = district[["district_code","district_name", "region", "population"]].sort_values("population", ascending=False).reset_index(drop=True)
district_short.head()

   district_code    district_name         region  population
0              1      Hl.m. Praha         Prague     1204953
1             54     Brno - mesto  south Moravia      387570
2             74  Ostrava - mesto  north Moravia      323870
3             70          Karvina  north Moravia      285387
4             68  Frydek - Mistek  north Moravia      228848

In [250]:
moscow_area_districts_wiki = "https://ru.wikipedia.org/wiki/%D0%90%D0%B4%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D0%BE-%D1%82%D0%B5%D1%80%D1%80%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5_%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5_%D0%9C%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B9_%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D0%B8"

In [251]:
moscow_area_districts = pd.read_html(moscow_area_districts_wiki, header=0)

In [252]:
moscow_area_districts = moscow_area_districts[2].drop(index=0)
moscow_area_districts.head()

,№,Код ОКАТО,Название АТЕ,Код ОКТМО,Название МО,Флаг,Герб,Закон,Геогра- фия,Население (чел.),Площадь (км²),Плотность населения (чел./км²),Адм. центр
1,1,46 404,Балашиха,46 704,Балашиха,NaN,NaN,208/2014-ОЗ от 30.12.14,восток,↗554 248[6],24398,2271.69,г. Балашиха
2,2,46 407,Видное,46 707,Ленинский,NaN,NaN,172/2019-ОЗ от 19.07.19,юг,↗327 211[6],20282,1613.31,г. Видное
3,3,46 408,Волоколамск,46 708,Волоколамский МО,NaN,NaN,139/2019-ОЗ от 09.07.19,запад,↘40 245[7],168351,23.91,г. Волоколамск
4,4,46 410,Воскресенск,46 710,Воскресенск,NaN,NaN,105/2019-ОЗ от 13.06.19,юго-восток,↗160 755[6],81248,197.86,г. Воскресенск
5,5,46 415,Дмитров,46 715,Дмитровский МО,NaN,NaN,85/2018-ОЗ от 20.06.18,север,↗165 081[8],218199,75.66,г. Дмитров

In [253]:
moscow_area_districts = moscow_area_districts.rename(columns={"Название АТЕ":"dist_name", "Население (чел.)":"population"})

In [254]:
# список колонок которые надо оставить

moscow_cols_to_keep = ["dist_name", "population"]
moscow_cols_to_drop = [col for col in moscow_area_districts.columns if col not in moscow_cols_to_keep]

In [255]:
moscow_area_dist = moscow_area_districts.drop(columns=moscow_cols_to_drop).copy()
moscow_area_dist.head()

     dist_name   population
1     Балашиха  ↗554 248[6]
2       Видное  ↗327 211[6]
3  Волоколамск   ↘40 245[7]
4  Воскресенск  ↗160 755[6]
5      Дмитров  ↗165 081[8]

In [256]:
# индексы записей которые нужно удалить - там описательные части таблицы

indices_to_drop = moscow_area_dist.dist_name.str.len().sort_values(ascending=False).iloc[:3]
indices_to_drop

40    60
50    56
54    52
Name: dist_name, dtype: int64

In [257]:
# что находится по этим индексам в таблице

moscow_area_dist.loc[indices_to_drop.index]

,dist_name,population
40,Города областного подчинения без административ...,Города областного подчинения без административ...
50,Пгт областного подчинения с административной т...,Пгт областного подчинения с административной т...
54,Закрытые административно-территориальные образ...,Закрытые административно-территориальные образ...

In [258]:
# удаляем строки с указанными индексами и сбрасываем индекс

moscow_area_dist = moscow_area_dist.drop(index=indices_to_drop.index).reset_index(drop=True)

In [259]:
moscow_area_dist.shape

(56, 2)

In [260]:
moscow_area_dist.head()

     dist_name   population
0     Балашиха  ↗554 248[6]
1       Видное  ↗327 211[6]
2  Волоколамск   ↘40 245[7]
3  Воскресенск  ↗160 755[6]
4      Дмитров  ↗165 081[8]

In [261]:
moscow_area_dist.population[0]

'↗554\xa0248[6]'

In [262]:
# чистим значения в population: нужно привести к числам.
# по regex извлечь часть с числом и убрать пробел "\xa0" - non-breaking space - из строки с числом

clean_population = moscow_area_dist["population"].str.findall(r"\d{1,3}(?:\s)\d{3}|\d{4}").str[0].str.replace("\xa0", "").astype("int")
clean_population.name = "pop_clean"

In [263]:
clean_population.head()

0    554248
1    327211
2     40245
3    160755
4    165081
Name: pop_clean, dtype: int64

In [264]:
moscow_area_dist["pop_clean"] = clean_population

In [265]:
# проверим что получилось. первые 5 и последние 5 строк

moscow_area_dist.head()

     dist_name   population  pop_clean
0     Балашиха  ↗554 248[6]     554248
1       Видное  ↗327 211[6]     327211
2  Волоколамск   ↘40 245[7]      40245
3  Воскресенск  ↗160 755[6]     160755
4      Дмитров  ↗165 081[8]     165081

In [266]:
moscow_area_dist.tail()

           dist_name  population  pop_clean
51    Краснознаменск  ↗44 657[6]      44657
52           Власиха  ↗28 633[6]      28633
53            Восход    ↘2056[6]       2056
54  Звёздный городок    ↘7569[6]       7569
55        Молодёжный    ↘2869[6]       2869

In [267]:
# удалим изначальную колонку population и переименуем колонку с чистыми цифрами

moscow_area_dist.drop(columns="population", inplace=True)

In [293]:
# проверим результат

moscow_area_dist.head()

  dist_name  pop_clean
0    Москва   13274285
1  Балашиха     554248
2  Одинцово     482184
3   Люберцы     364888
4  Подольск     350634

In [283]:
moscow_area_dist.pop_clean.describe()

count         57
mean      374689
std      1743561
min         1521
25%        47029
50%       112070
75%       220062
max     13274285
Name: pop_clean, dtype: float64

In [287]:
# уберем районы с меньше чем 25000 населения

moscow_area_dist = moscow_area_dist.query("pop_clean > 25000").copy()

In [288]:
moscow_area_dist.shape

(48, 3)

In [269]:
# moscow_area_dist.rename(columns={"pop_clean":"population"}, inplace=True)

In [270]:
# добавим Москву в датафрейм

moscow_record = ["Москва", 13274285]
moscow_record

['Москва', 13274285]

In [271]:
moscow_area_dist.loc[moscow_area_dist.shape[0]] = moscow_record

In [289]:
moscow_area_dist.isna().sum()

dist_id      0
dist_name    0
pop_clean    0
dtype: int64

In [273]:
moscow_area_dist.shape

(57, 2)

In [291]:
# moscow_area_dist.drop(columns="dist_id", inplace=True)

In [276]:
# сбросить индекс потерявший порядок

moscow_area_dist = moscow_area_dist.sort_values("pop_clean", ascending=False) \
                                    .reset_index(drop=True)

In [292]:
# сместим dist_id на единицу, чтобы не было id равным 0

# moscow_area_dist["dist_id"]  = moscow_area_dist["dist_id"] + 1
# moscow_area_dist.head()

In [ ]:
district_short.shape[0]

In [ ]:
czech_and_russian_districts.loc[[56]]

In [ ]:
czech_and_russian_districts = pd.concat([district_short, moscow_area_dist], axis=1)

In [ ]:
czech_and_russian_districts[czech_and_russian_districts.isna().any(axis=1)]

In [ ]:
district_short.population.min()

In [ ]:
moscow_area_dist.population.describe()

In [ ]:
accounts.merge(district_short, left_on="district_id", right_on="district_code")["district_name"].value_counts()

In [294]:
district_short.population.sum()

np.int64(10309137)